body {
  background-image: url(./photo/DSC_2112.jpg);
  /* opacity: 0.3; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Charm", cursive;
}
a {
  text-decoration: none;
}
.titleOne {
  display: flex;
  justify-content: center;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}
.title {
  position: absolute;
  top: 150px;
  font-size: 100px;
  box-shadow: 0px 2px 1px -1px rgba(187, 165, 206, 0.2),
    0px 1px 1px 0px rgba(149, 127, 155, 0.14),
    0px 1px 3px 0px rgba(188, 161, 209, 0.12);
  /*  transform: translatex(calc(100vw - 86px));
  transition-property: transform;
  transition-duration: 2000ms;
  transition-timing-function: linear;*/
  transform: translate(0, -50%);
  transition-duration: 2000ms;
  transition-timing-function: linear;
}

.nav-link {
  color: #dbb1d4;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.active {
  color: rgb(173, 120, 223);
}
.linkTitle {
  color: aliceblue;
  font-size: 26px;
}
.carousel-inner {
  width: 400px;
}
.carousel {
  width: fit-content;
}
.carousel-control-next {
  margin-right: 5px;
}

.bioText {
  background: linear-gradient(to right, #f1f2b5, #135058);
  /* background-color: rgb(208, 203, 214); */

  margin: 10px 0;
  padding: 5px;
  font-size: 20px;
}
.loadingSpinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

.dot {
  position: absolute;
  border-radius: 50%;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  opacity: 0.6;
  filter: alpha(opacity=50);
  background: #dbb1d4;
  animation: spin $animation-time 0s infinite both;
}
.dot2 {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #dbb1d4;
  opacity: 0.8;
  filter: alpha(opacity=50);
  animation: spin2 $animation-time 0s infinite both;
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4,
      0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4;
  }
  50% {
    transform: rotate(180deg);
  }
  25%,
  75% {
    box-shadow: 28px 0 0 #dbb1d4, -28px 0 0 #dbb1d4, 0 28px 0 #dbb1d4,
      0 -28px 0 #dbb1d4, 20px -20px 0 #dbb1d4, 20px 20px 0 #dbb1d4,
      -20px -20px 0 #dbb1d4, -20px 20px 0 #dbb1d4;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4,
      0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4;
  }
}

@keyframes spin2 {
  0%,
  100% {
    box-shadow: 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4,
      0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4;
  }
  50% {
    transform: rotate(-180deg);
  }
  25%,
  75% {
    box-shadow: 52px 0 0 #dbb1d4, -52px 0 0 #dbb1d4, 0 52px 0 #dbb1d4,
      0 -52px 0 #dbb1d4, 38px -38px 0 #dbb1d4, 38px 38px 0 #dbb1d4,
      -38px -38px 0 #dbb1d4, -38px 38px 0 #dbb1d4;
    background: transparent;
  }
  100% {
    transform: rotate(-360deg);
    box-shadow: 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4,
      0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4, 0 0 0 #dbb1d4;
  }
}

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(219, 191, 213, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* animation: button-anime 2s; */
  z-index: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.hover-menu {
  position: relative;
  overflow: hidden;
  margin: 8px;
  min-width: 340px;
  max-width: 480px;
  max-height: 290px;
  width: 100%;
  background: #000;
  text-align: center;
  box-sizing: border-box;
}

.hover-menu * {
  box-sizing: border-box;
}

.hover-menu img {
  position: relative;
  max-width: 100%;
  top: 0;
  right: 0;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.hover-menu div {
  position: absolute;
  top: 0;
  left: -120px;
  width: 120px;
  height: 100%;
  padding: 8px 4px;
  background: #000;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hover-menu div a {
  display: block;
  line-height: 2;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  padding: 5px 15px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.hover-menu div a:hover {
  text-decoration: underline;
}

.hover-menu:hover img {
  opacity: 0.5;
  right: -120px;
}

.hover-menu:hover div {
  left: 0;
  opacity: 1;
}
